/* CSS RESET */
* {
        margin: 0px;
        padding: 0px;
        font-size: 10px;
}
/* Main Styles */
#wrapper {
        margin: 10px auto;
        padding: 10px 20px;
        background-color: blue;
        display: grid;
        grid-gap: 4px;
        grid-template-columns: repeat(18, 1fr);
}
.element {
        outline: 1px solid black;
        text-align: center;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3px;
}
.element > p:first-child {
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 5px;
}
.element > p:nth-child(2) {
        font-size: large;
        color: blue;
}
.element > p:nth-child(3) {
        margin: 5px 0px;
}
.element > p:last-child {
        font-weight: bold;
}
.s {
        background-color: yellow;
}
.p {
        background-color: lightblue;
}
.d {
        background-color: lightgreen;
}
.f {
        background-color: pink;
}
.top {
        margin-top: 5px;
}
.hidden {
        opacity: 0;
}